ALI_MAIL_ADDRESS=leo@flextailgear.com
ALI_MAIL_PASSWORD=
ALI_MAIL_IMAP_HOST=imap.sg.aliyun.com
ALI_MAIL_IMAP_PORT=993
ALI_MAIL_SMTP_HOST=smtp.sg.aliyun.com
ALI_MAIL_SMTP_PORT=465
ALI_MAIL_DEFAULT_MAILBOX=INBOX
ALI_MAIL_DRY_RUN=true
